.openerp .oe_kanban_view .oe_kanban_image
{
	border-radius: 50px;
}

.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] 
{
	border-radius: 50px;
}
.openerp .oe_form input[type="text"], .openerp .oe_form input[type="password"], .openerp .oe_form input[type="file"], .openerp .oe_form select, .openerp .oe_form textarea 
{
	border-bottom: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: rgb(167, 164, 164);
}
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly])
{
	background-color: white !important;
}
.openerp .oe_form input[type="text"], .openerp .oe_form input[type="password"], .openerp .oe_form input[type="file"], .openerp .oe_form select, .openerp .oe_form textarea{
	outline:none;
}